/*
font-family: 'Open Sans', sans-serif;
font-family: 'Gentium Book Basic', serif;
*/


body {
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-size: 20px;
}


header {
	text-align: center;
	margin: 0 auto;
	width: 60%;
	letter-spacing: -.05em;
}

#heading {

	font: 800 64px/64px 'open sans';
	text-transform: uppercase;
	padding-top: 100px;
	display: block;
	margin-bottom: 32px;


}
#heading span {
	font: 400 60px/60px 'gentium book basic';
	font-style: italic;
	font-variant: none;
	text-transform: none;
}

header h2 {
	border-top: 1px solid #222;
	margin: 0 0 20px 0;
	font: 800 20px/20px 'open sans';
	text-transform: uppercase;
	font-size: inherit;
	
}


#subheading {
	position: relative;
	top: -10px;
	background-color: #ffffff;
	padding: 0 10px;
	letter-spacing: normal;
}


